.Characters {
  background: linear-gradient(
      to right,
      rgba(20, 26, 39, 0.85),
      rgba(20, 26, 39, 0.85)
    ),
    url('../Assets/images/background-2.png');
  height: 100vh;
  background-size: cover;
}
.Characters__bg--left {
  background-color: #141a27;
  width: 25%;
  height: 100%;
  float: left;
}
.back-btn {
  padding: 2rem;
  margin: 0;
}
.Characters-heading {
  font-family: 'Game-of-Thrones', serif;
  font-weight: 400;
  display: inline-block;
  border-bottom: 2px solid #fff;
  border-radius: 1rem;
  padding: 0.6rem;
  font-size: 2rem;
  margin-bottom: 7rem;
}
.Characters-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 12rem;
}
.img-wrapper img[alt='Aemon'],
.img-wrapper img[alt='Aerys'] {
  width: 16rem;
}
.img-wrapper img[alt='Arya'] {
  width: 20rem;
  margin: 0 4rem;
}
.img-wrapper h4 {
  font-family: 'Game-of-thrones', serif;
  font-size: 2rem;
  font-weight: 400;
  margin-top: 1rem;
}
.Characters-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Characters-img img {
  transition: all 500ms cubic-bezier(0.36, 0.355, 0.03, 0.965);
}
.Characters-img img:hover {
  transform: scale(1.08);
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
}
@media screen and (max-width: 768px) {
  .img-wrapper img[alt='Aemon'],
  .img-wrapper img[alt='Aerys'] {
    width: 14rem;
  }
  .img-wrapper img[alt='Arya'] {
    width: 18rem;
    margin: 0 2rem;
  }
  .Characters__bg--left {
    width: 18%;
  }
}
@media screen and (max-width: 600px) {
  .img-wrapper img[alt='Arya'] {
    width: 17rem;
    margin: 0 1rem;
  }
  .img-wrapper h4 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 425px) {
  .Characters-content {
    padding-top: 2rem;
  }
  .Characters-heading {
    margin-bottom: 4rem;
  }
  .Characters-img {
    flex-direction: column;
  }
  .Characters__bg--left {
    float: none;
  }
  .Characters {
    height: 100%;
    overflow-x: hidden;
  }
  .Characters__bg--left {
    width: 0;
  }
  .img-wrapper img[alt='Aemon'],
  .img-wrapper img[alt='Aerys'] {
    width: 20rem;
  }
  .img-wrapper img[alt='Arya'] {
    width: 24rem;
    margin: 0 2rem;
  }
  .img-wrapper h4 {
    margin-bottom: 4rem;
  }
}
