.Characters {
  background: linear-gradient(
      to right,
      rgba(20, 26, 39, 0.85),
      rgba(20, 26, 39, 0.85)
    ),
    url('../Assets/images/background-2.png');
  height: 100vh;
  background-size: cover;
  padding: 2rem;
}
.Characters__bg--left {
    background-color: #141A27;
    width: 30%;
    height: 100%;
}
