.Houses {
  background: linear-gradient(
      to right,
      rgba(20, 26, 39, 0.74),
      rgba(20, 26, 39, 0.74)
    ),
    url('../Assets/images/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  padding: 2rem;
}
.Houses__card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4rem;
}
.Houses__card-container img {
  width: 21rem;
  opacity: 1 !important;
}

.Houses__card-container a:not(:last-child) {
  margin-right: 3.5rem;
}
.back-btn {
  display: flex;
  font-size: 1.2rem;
  font-family: 'Game-of-thrones', serif;
  margin-bottom: 7rem;
}
.back-btn a {
  color: #fff;
  text-decoration: none;
}
.back-btn img {
  width: 3rem;
}
.footer-heading {
  font-family: 'Game-of-thrones', serif;
  font-size: 2.5rem;
}
.footer-heading {
  line-height: 1.2;
  text-align: center;
}
.footer-heading span {
  display: inline-block;
  position: relative;
}
.footer-heading span:before,
.footer-heading span:after {
  content: '';
  position: absolute;
  height: 5px;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  top: 0;
  width: 40rem;
  margin-top: 2rem;
}
.footer-heading span:before {
  right: 100%;
  margin-right: 15px;
}
.footer-heading span:after {
  left: 100%;
  margin-left: 15px;
}
@media screen and (max-width: 768px) {
  .Houses__card-container img {
    width: 14rem;
  }
  .footer-heading span:before,
  .footer-heading span:after {
    width: 22rem;
  }
  .footer-heading {
    font-size: 1.5rem;
  }
  .Houses__card-container a:not(:last-child) {
    margin-right: 2rem;
  }
}
@media screen and (max-width: 600px) {
  .Houses__card-container img {
    width: 10rem;
  }
  .footer-heading span:before,
  .footer-heading span:after {
    width: 16rem;
  }
  .footer-heading {
    font-size: 1.2rem;
  }
  .Houses__card-container a:not(:last-child) {
    margin-right: 1rem;
  }
  .back-btn {
    font-size: 1rem;
  }
}
@media screen and (max-width: 425px) {
  .Houses__card-container {
    flex-direction: column;
  }
  .Houses__card-container img {
    width: 80%;
  }
  figure {
    width: auto;
  }
  .footer-heading span:before,
  .footer-heading span:after {
    width: 72%;
  }
  .footer-heading {
    font-size: 2rem;
  }
  .Houses__card-container a:not(:last-child) {
    margin-right: 0;
  }
  .back-btn {
    margin-bottom: 2rem;
  }
  .Houses {
    height: 100%;
  }
}
