.Not-Found {
    background: url('../Assets/images/Night_s_King_Sky_A_3325474k.png');
    background-size: cover;
    background-position: right;  
    background-repeat: no-repeat;  
    height: 100vh;
    position: relative;
}

.got-img img {
    position: absolute;
    top: 3rem;
    left: 2.2rem;
    width: 28rem;
}

.Not-Found__message {
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20rem 4.4rem 0 0;
    float: right;
}

.home-link {
    text-decoration: none;
    display: inline-block;
    background-color: #00172C;
    color: #AACCE7;
}