.Header-main {
    height: 100vh;
    background: url('../Assets/images/game-of-thrones-dragon-eyes-season-8-uhdpaper.com-4K-64.png');
    background: radial-gradient(circle, rgba(2,0,36,0.04245448179271705) 0%, rgba(25,32,54,0.6250875350140056) 50%, rgba(25,32,54,0.5830707282913166) 100%),
                 url('../Assets/images/game-of-thrones-dragon-eyes-season-8-uhdpaper.com-4K-64.png') no-repeat;;
    background-size: cover;
    background-position: center;
}