.Hero-main {
    height: 68vh;
    display: flex;
    justify-content: space-between;
    color: #fff;
}

.Hero-left {
    padding: 0 4rem;
    align-self: center;
    text-align: left;
}

.Hero-left h1 {
    font-family: 'Game-of-Thrones', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 6.6rem;
    line-height: 1.3;
    margin-bottom: 2rem;
}

.Hero-left h2{
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 1.3;
    margin-bottom: 2rem;

}

.cta-btn {
    padding: 2rem 3rem;
    background-color: var(--btn-color-main);
    color: #fff;
    font-family: 'Game-of-Thrones', serif;
    font-size: 1rem;
    letter-spacing: .1rem;
    border: none;
    border-radius: 1.2rem;
    box-shadow: 0 .3rem 4.9rem rgba(243, 108, 55, 0.80);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all ease-in-out .2s;
}

.cta-btn:hover {
    transform: translateY(1rem);
    box-shadow: 0 .2rem 2rem rgba(243, 108, 55, 0.80);
}

.play-icon img {
    width: 1.8rem;
    margin-right: 2.3rem;

}

.Hero-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-right: 2rem;
}

.Hero-right img {
    width: 2rem;
    margin-bottom: 2rem;
}

.Hero-right .netflix-img {
    width: 1.3rem;
    margin-bottom: 0;
}