.Hero-main {
    height: 60vh;
    display: flex;
    justify-content: space-between;
    color: #fff;
}

.Hero-right {
    padding: 0 4rem;
    align-self: center;
}

.Hero-right h1 {
    font-family: 'Game-of-Thrones', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 6.6rem;
    line-height: 1.3;
}

.Hero-right h2{
    font-weight: 600;
}

