.Nav-main {
    display: flex;
    align-items: center;
    padding: 5rem 4rem;
}

.Navlink-container {
    display: flex;
    list-style: none;
}

.Navlink-container li a {
    margin-right: 7rem;
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
}

.Nav-logo {
    margin-right: 8.5rem;
}

.Nav-logo img {
    width: 11rem;
}