:root {
  --btn-color-main: #F36B37;
}

@font-face {
  font-family: 'Game-of-Thrones';
  src: local('Game of Thrones'),
    url('./Assets/fonts/Game_of_Thrones.ttf') format('truetype');
}

@font-face {
  font-family: 'League-Spartan';
  src: local('League Spartan'),
    url('./Assets/fonts/LeagueSpartan-Bold.otf') format('opentype');
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*::selection {
  color: var(--btn-color-main);
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  background-color: #141A27;
  color: #fff;
  line-height: 2;
}

@media all and (max-width: 320px) {
  html {
    font-size: 58.5%;
  }
}